html, body {
  height: 100%;
  margin: 0;
}


body {
  background: #25455A;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}

canvas {
  border: 1px solid white;
}





  